.main_chat
  .main_chat__group_info
    .group_names
      = @group.name
      .member_names
        - @group.users.each do |user|
          #{user.name}

    
    .edit 
      =link_to edit_group_path(@group) do  
        Edit
  
  
  .main_chat__message_list
    = render @messages
  

  .main_chat__message_form
    = form_for [@group, @message] do |f|
      .input_box
        = f.text_field :content, class: 'form', placeholder: 'type a message'
        = f.label :image, class: 'image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'button'