.side_bar
  .side_bar__user_name
    .top_items
      = current_user.name
    .top_items__icons
      = link_to do
        = icon('fas', 'pen-square', class: 'icon')
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: 'icon')
   

  .side_bar__new_group
    .group
      techcamp
    .massages
      まだメッセージがありません